/* Global Styles */
body {
  font-family: 'Inter';
}

button {
  color: var(--Onyx, #000);
  cursor: pointer;
  width: 100px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 2px solid var(--Onyx, #000);
  background: var(--Green, #D5FCC5);
  box-shadow: 4px 4px 0px 0px #000;
}

button:hover {
  background-color: #777;
  color: #fff;
}

input {
  width: 75px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

ul {
  list-style-type: none;
}

/* App Container */
.App {
  text-align: center;
}

/* Header Styles */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 0;
}

/* Main Content Styles */
.main-content {
  padding: 20px;
}

.scrollable-container {
  max-height: 300px;
  overflow: auto;
}

.add-movie-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

/* Navbar Styles */
.navbar a {
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 15px;
}

.navbar a:hover {
  color: var(--Green, #D5FCC5);
}

/* Footer Styles */
.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}